extends layout.pug

block content
  form.skinny(method='post')
    div.input-single
      label(for='password') Password
      input(type='password', name='password')
    div.input-single
      input.button(type='submit')
  each message in flash
    div.alert #{message}
