html {
}

// html,
// body {
//   font-family: 'Lato', sans-serif;
// }

body#index {
  height: 100vh;

  main {
    height: 100vh;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.25em;
}

main {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.skinny {
  max-width: 45rem;
  margin: 0 auto;
}

.room-list {
  @extend %naked-list;
  padding-top: 1rem;
  padding-bottom: 1rem;

  img {
    display: none !important;
  }
}

#carmen {
  height: 100%;

  img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#stats-wrap {
  font-size: 1.8rem;
  li,
  p,
  h5 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }

  ul {
    margin-top: 0;
    list-style-type: disc;
    // list-style: disc;

    ul {
      list-style: circle inside;
    }
  }
}
